extends layout

block content
  h1= title

   - let addDes = `dispatch(\"/resource/create\")`
  div(class="row m-1")
    button.btn( class="btn-primary ml-1", onclick= addDes) Add
    - let result = results;
    div(class="container-fluid")
      div(class="row m-1")
        each value in result 
          - let destination = `dispatch(\"/resource/update?id=${value._id}\")`
          - let deleteDes = `dispatch(\"/resource/delete?id=${value._id}\")`
          - let detailDes = `dispatch(\"/resource/detail?id=${value._id}\")`
          div(class="row m-1")
            div(class="col-sm-2") Name: #{value.name} 
            div(class="col-sm-2") length : #{value.length}
            div(class="col-sm-2") director: #{value.director}
          div(class="row m-1")
            div(class="col-sm-2")
              button.btn( class="btn-primary ml-1", onclick= destination) Update 
            div(class="col-sm-2")
              button.btn( class="btn-danger ml-1", onclick= deleteDes) Delete
            div(class="col-sm-2")
              button.btn( class="btn-primary ml-1", onclick= detailDes) Details 

    script. 
      function dispatch(path){ 
        window.location.href=path 
      } 
